/* Remove blue border */
input {
  outline: none;
}

/* Turn off iPhone/Safari input element rounding */
input[type='search'] {
  -webkit-appearance: none;
}

/* Turn off «X» button on Chrome */
input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Turn off «X» button on IE */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
